@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

:root {
    --white-main: rgb(240, 255, 247);
}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(21, 21, 21);
    width: 80vw;
    margin: 0 auto;
}
/* configs gerais acima */
header, .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    min-height: 20vh;
    padding: 2em;
    max-width: 90vw;
    margin: 0 auto;
}
.logo {
    text-transform: uppercase;
    color: var(--white-main);
}
.logo > h2 > span {
    color: #50A428;
    font-weight: 200;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
    justify-content: center;
}
header > ul > li > a {
    color: var(--white-main);
    font-size: 1.1rem;
}

/* header/navbar acima */
main {
    min-height: 80vh;
    max-width: 95vw;
    background-image: url(https://media.discordapp.net/attachments/1016341785716469780/1030931023803994215/basketball.png?width=448&height=520);
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    align-items: center;
}

.redline {
    font-family: Inter;
    color: var(--white-main);
    max-width: 40vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 6rem;
    justify-content: center;
    gap: 1em;
    font-size: 1.4em;
}

.redline > h1 {
    font-size: 3.8em;
}

.redline > button {
    color: var(--white-main);
    background-color: #50A428;
    width: 10em;
    height: 2.2em;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 700;
}